div.MainContent .Stories {
    display: flex;
    flex-direction: row;
    height: 100px;
    border: 1px solid #3a1e31;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    -webkit-box-shadow: -1px 5px 30px 11px rgba(0,0,0,0.29);
    -moz-box-shadow: -1px 5px 30px 11px rgba(0,0,0,0.29);
    box-shadow: -1px 5px 30px 11px rgba(0,0,0,0.29);
    text-align: center;
    justify-content: center;
}

div.MainContent .Stories .Story img {
    width: 50px;
    height: 50px;
    margin-left: 4.7px;
    margin-top: 4.5px;
    border-radius: 50%;
    border: 2px solid #141414;
}

div.MainContent .Stories .Story div {
    background: linear-gradient(135deg, #30062b, #a50c43, #fe0247, #af6484);
    width: 59px;
    height: 59px;
    border-radius: 50%;
}

div.MainContent .Stories .Story :first-of-type {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

div.MainContent .Feed .Post .InfoTop div span {
    margin-bottom: 20px;
}

div.MainContent .Feed {
    display: flex;
    flex-direction: column;
    border: 1px solid #3a1e31;
    border-radius: 5px;
    margin-top: 20px;
    -webkit-box-shadow: -1px 5px 30px 11px rgba(0,0,0,0.29);
    -moz-box-shadow: -1px 5px 30px 11px rgba(0,0,0,0.29);
    box-shadow: -1px 5px 30px 11px rgba(0,0,0,0.29);
}

div.MainContent .Feed .Post .InfoTop {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

div.MainContent .Feed .Post {
    margin-bottom: 8px;
}

div.MainContent .Feed .Post .InfoTop div {
    display: flex;
}

div.MainContent .Feed .Post .InfoTop div b {
    margin-top: 3px;
    margin-left: 8px;
    font-weight: 500;
}

div.MainContent .Feed .Post .InfoTop div span {
    margin-top: 3px;
}

div.MainContent .Feed .Post .InfoTop img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

div.MainContent .Feed .Post .PhotoPost {
    width: 100%;
}

div.MainContent .Feed .Post .Actions {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

div.MainContent .Feed .Post .Actions span {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 25px;
}

div.MainContent .Feed .Post .Actions span:hover {
    color: #3a1e31 !important;
    animation: pulse 1s ease-in;
}

div.MainContent .Feed .TextPost {
    margin-left: 15px;
}

div.MainContent .Feed .CommentsPost {
    margin-left: 25px;
    color: rgba(255, 255, 255, 0.486);
    margin-bottom: 10px;
}
