@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: 121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: white;
}

.App {
    display: flex;
    flex-direction: row;
}

.AsideContent {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 17vw;
    height: 100vh;
    color: white;
    position: fixed;
    border-right: 1px #3a1e31 solid;
    -webkit-box-shadow: -1px 5px 30px 11px rgba(0,0,0,0.29);
    -moz-box-shadow: -1px 5px 30px 11px rgba(0,0,0,0.29);
    box-shadow: -1px 5px 30px 11px rgba(0,0,0,0.29);
}

.MainContent {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.AppSide {
    margin-left: 25vw;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 70vw;
}

.ReferenceContent {
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    width: 20vw;
    border: 1px #3a1e31 solid;
    -webkit-box-shadow: -1px 5px 30px 11px rgba(0,0,0,0.29);
    -moz-box-shadow: -1px 5px 30px 11px rgba(0,0,0,0.29);
    box-shadow: -1px 5px 30px 11px rgba(0,0,0,0.29);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 360px;
}