div {
    background-color: rgba(218, 218, 218, 0.452);
    width: 30vw;
    height: 100vh;
}

ul li {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 15pt;
}

ul li:hover {
    transition: 0.5s ease-in;
    background-color: rgb(177, 177, 177);
    color: white;
    font-weight: 6  00;
}

ul {
    padding: 10px;
    list-style-type:none;
}

div img {
    width: 100px;
}

.Logo {
    display: flex;
    justify-content: center;    
    height: auto;
}